# Build files.
/build/

# Local configuration overrides.
/phpcs.xml
/phpunit.xml
/**/.DS_STORE
/**/.idea
/**/.svn
/**/build
/**/node_modules
*.map
wp-cli.yml
.wp-env.override.json

# Configs from wporg-repo-tools.
.eslintrc.js
.prettierrc.js
.stylelintrc
phpcs.xml.dist

# Ignore everything in source...
/source/wp-content/*
/source/wp-content/*

# Explicitly track the actual source of this project.
!/source/wp-content/themes/wporg-planet-wp/
!/source/wp-content/plugins/planet-wordpress-syndicator/

# Ignore built files in source directories.
/source/wp-content/themes/wporg-planet-wp/style.css

# Dependencies.
/vendor/
/**/node_modules

# Misc.
/.phpunit.result.cache
.DS_Store
